/.metadata/
JLinkLog.log


/RLC_DRIVE_RA8T1/Debug/*

/RLC_DRIVE_RA8T1/ra_cfg/*
/RLC_DRIVE_RA8T1/ra_gen/*
/RLC_DRIVE_RA8T1/ra/*



!/RLC_DRIVE_OS/ra/
/RLC_DRIVE_OS/ra/*
!/RLC_DRIVE_OS/ra/fsp/
/RLC_DRIVE_OS/ra/fsp/*
!/RLC_DRIVE_OS/ra/fsp/src/
/RLC_DRIVE_OS/ra/fsp/src/*
!/RLC_DRIVE_OS/ra/fsp/inc/
/RLC_DRIVE_OS/ra/fsp/inc/*
!/RLC_DRIVE_OS/ra/fsp/inc/instances/
/RLC_DRIVE_OS/ra/fsp/inc/instances/*
!/RLC_DRIVE_OS/ra/fsp/inc/api/
/RLC_DRIVE_OS/ra/fsp/inc/api/*








RLC_DRIVE_RA8T1/.settings/


