/.metadata/
JLinkLog.log


/RLC_DRIVE_RA8T1/Debug/*

/RLC_DRIVE_RA8T1/ra_cfg/*
/RLC_DRIVE_RA8T1/ra_gen/*
/RLC_DRIVE_RA8T1/ra/*




!/RLC_DRIVE_RA8T1/ra/
/RLC_DRIVE_RA8T1/ra/*
!/RLC_DRIVE_RA8T1/ra/fsp/
/RLC_DRIVE_RA8T1/ra/fsp/*
!/RLC_DRIVE_RA8T1/ra/fsp/src/
/RLC_DRIVE_RA8T1/ra/fsp/src/*
!/RLC_DRIVE_RA8T1/ra/fsp/inc/
/RLC_DRIVE_RA8T1/ra/fsp/inc/*
!/RLC_DRIVE_RA8T1/ra/fsp/inc/instances/
/RLC_DRIVE_RA8T1/ra/fsp/inc/instances/*
!/RLC_DRIVE_RA8T1/ra/fsp/inc/api/
/RLC_DRIVE_RA8T1/ra/fsp/inc/api/*
!/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_driver
/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_driver/*
!/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_driver/rm_motor_120_driver.c
!/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_degree
/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_degree/*
!/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_degree/rm_motor_120_degree.c
!/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_control_hall
/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_control_hall/*
!/RLC_DRIVE_RA8T1/ra/fsp/src/rm_motor_120_control_hall/rm_motor_120_control_hall.c
!/RLC_DRIVE_RA8T1/ra/fsp/inc/instances/rm_motor_120_control_hall.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/instances/rm_motor_120_degree.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/instances/rm_motor_120_driver.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/api/rm_motor_120_control_api.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/api/rm_motor_120_driver_api.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/api/rm_motor_api.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/api/rm_motor_driver_api.h
!/RLC_DRIVE_RA8T1/ra/fsp/inc/api/rm_motor_extension.h








RLC_DRIVE_RA8T1/.settings/


